.badge {
  font-size: 15px;
  background-color: #ff6229;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  left: 20px;
  bottom: 20px;
}
